<div id="mediaContainer">
    <a href="javascript:void(0)" class="closeInputbtn" onclick="closeInput(3)">&times;</a>
    <select id="mediaTags">
        <option name="instagram" value="instagram">Instagram</option>
        <option name="facebook" value="facebook">Facebook</option>
        <option name="snapchat" value="snapchat">Snapchat</option>
        <option name="twitter" value="twitter">Twitter</option>
    </select>
    <div><input id="mediaInput" type="text" name="media" placeholder="account name"></div>
</div>