<header id="xlHeader">
  <div class="navbar">
    <a id="header-brand" href="#">ShortStory</a>
    <div class="navLink">
      <a href="/home">Home</a>
      <a href="/stories">Stories</a>
      <a id="logInNavBtn" href="/login">Log In</a>
      <a class="logOutButton" href="/logout">Log Out</a>
  </div>
</header>


<!--<header>
    <a href="#" class="header-brand">ShortStory</a>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/stories">Stories</a></li>
        <li><a class="login" href="/login">Log In</a></li>
        <li class="logOutButton"><a href="/logout">Log Out</a></li>
      </ul>
    </nav>
  </header>-->
