<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ShortStory | <%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap" rel="stylesheet">
    <link href="/forgotPassword.css" rel="stylesheet" type="text/css" />
    <script src="/forgotPw.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
      <header>
          <div>ShortStory</div>
      </header>
      <main>
          <img id="lockImage" src="/lock.png" alt="lock image">
          <img id="forgotImage" src="/forgot2.png" alt="SVG img">
          <div class="content">
            <% if (message.length > 0 && message) { %>
              <div class="errorMessage status"><%= message %></div>    
            <% } else if (success.length > 0 && success) { %> 
              <div class="successMessage status"><%= success %></div>
            <% } %>
              <div class="title">Forgot Password?</div>
              <div class="message">Enter the email address associated with your account</div>
              <form action="reset/sendLink" method="POST">
                <input type="email" placeholder="Enter email Address" name="email"><br>
                <button id="submitBtn" style="display: none;">Submit</button>
              </form>
              <div id="links">
                <a id="homeLink" href="/home">ShortStory home</a>
                <div id="link" action="reset/sendLink" method="POST">
                  <a href="javascript:void(0)" id="nextLink">Next</a>
                  <script>
                    $(document).ready(function () {
                      $('#nextLink').click(function () {
                        $('#submitBtn').click();
                      })
                    });
                  </script>
                </div>                
              </div>
          </div>
      </main>
  </body>
</html>