<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ShortStory | <%= title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="book.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap" rel="stylesheet">
    <link href="/newsFeed.css" rel="stylesheet" type="text/css" />
    <script src="/profile.js"></script>
    <script src="/feed.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="readingView">
      <div id="header">
        <i onclick="shutViewModeDown()" class="fa fa-chevron-left" aria-hidden="true"></i>
        <a href="/home">ShortStory</a>
      </div>
      <div id="storyView">A Doll House
        Nora’s change of character can be explained by the fact that she realized that she couldn’t survive on her own. The situation she was into made her realize that she needed to educate herself and try to understand everything around her. Nora didn’t know that signing the paper in place of her father was a fraud. She thought that she had done the right thing. She believed that she was right to do that to save her husband. Nora: “Isn’t a wife allowed to save her husband’s life?(1094)”. But she was wrong, which led her to more confusion. She couldn't make the right decision by herself. Before Helmer read the letter, she started to not appreciate the way he was talking about her. According to her, she has been treated like a doll since when she was living with her father. Nora: “I have been your doll-wife, the same way I was Papa’s dool-child.(1122)” Like a doll she didn’t get to express her own opinion. She also wasn’t taken seriously and her opinion didn’t matter much to her husband and father. She managed to adapt to the decisions taken by her father and her husband. Nora: “You arranged everything according to your own taste, and so I had all the same taste as you.(1123)” Knowing that she couldn’t stand on her own, gave Nora the courage to leave her husband and children. She no longer wanted to be seen as a toy to play with.
      </div>
    </div>
    <header>
        <div id="header-brand"><a  href="/home">ShortStory</a></div>
    </header>
    <%- include('./partials/customNav.ejs') %>
    <main>

    </main>
  </body>
</html>