* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;      
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
}

body {
    height: calc(100vh - 65px);
    background-color: white;
}

header {
    width: 100%;
    height: 65px;
    text-align: center;
    font-size: 28px;
    line-height: 65px; 
    background-color: white;
}

@media only screen and (min-width: 900px) {
    body {
        height: auto;
        background-color: #FBF8F6;
    }
    
    header {
        display: none;
        width: 80%;
        height: 50px;
        font-size: 30px;
        line-height: 50px; 
        margin: auto;
    }
}

#lockImage {
    display: block;
    width: 90%;
    height: 200px;
    margin: 20px auto 20px auto;
    object-fit: cover;
}

#forgotImage {
    display: none;
}

.content {
    display: block;
    width: 90%;
    height: auto;
    margin: auto;
}

.title {
    font-size: 28px;
    text-align: center;
}

.message {
    color: #7f808c;
    width: 90%;
    margin: 20px auto 20px auto;
}

.content input[type=email] {
    display: block;
    width: 85%;
    height: 45px;
    font-size: 18px;
    margin: auto;
    border: none;
    border-bottom: 1px solid #edeef6;
}

#link {
    display: block;
    width: 35%;
    margin: auto;
    text-align: center;
}

#link a {
    display: block;
    color: white;
    margin: auto;
    padding: 15px;
    background-color: black;
    border-radius: 100px;
}

#homeLink {
    display: none;
}

@media only screen and (min-width: 900px) {
    
    main {
        display: flex;
        width: 70%;
        height: 500px;
        flex-grow: 1;
        margin: 40px auto 20px auto;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        background-color: white;
        border: 1px solid #edeef6;
        /* box-shadow: 0 0 8px rgb(0, 0, 0, 0.2); */
    }

    .status {
        color: white;
        font-size: 12px;
        padding: 15px;
        margin: 15px auto 15px auto;
        border-radius: 3px;
    }

    .errorMessage {
        background-color: #FF3B58;
    }

    .successMessage {
        background-color: #66CDAA;
    }

    #lockImage {
        display: none;
    }

    #forgotImage {
        display: block;
        width: 400px;
        height: 400px;
        margin: auto 50px auto 50px;
        object-fit: cover;
    }
    
    .content {
        width: 80%;
        margin: auto 20px auto 20px;
    }

    #xl-header {
        display: block;
        width: auto;
        position: absolute;
        bottom: 450px;
        font-size: 50px;
        font-style: italic;
        background: none;
    }
    
    .title {
        color: #2F4F4F;
        font-size: 50px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }
    
    .message {
        font-size: 12px;
        color: #050813;
        margin: 20px 0 20px 0;
    }
    
    .content input[type=email] {
        color: #5B5A6B;
        width: 75%;
        height: 45px;
        font-size: 14px;
        margin: 0;
    }
    
    #link {
        margin: 0;
    }
    
    #link a {
        margin: 0;
        background-color: #2F4F4F;
        box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
    }

    #links {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }

    #homeLink {
        display: block;
        font-size: 14px;
        font-style: italic;
        color: #2F4F4F;
        margin-right: 75px;
        padding: 0;
        background: none;
    }

    #homeLink:hover {
        text-decoration: underline;
    }
}