* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;      
    outline: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color:  rgb(252, 247, 247);
    height: 100vh;
}

main {
    width: 90%;
    margin: 12% auto 12% auto;
    border-radius: 5px;
    border: 1px solid #edeef6;
    background-color: white;
}

#brand {
    font-size: 30px;
    margin: 10px auto 10px;
    text-align: center;
}

#mainHeader {
    text-align: center;
    font-size: 21px;
    padding: 25px;
    margin: 0 auto 0 auto;
}

form {
    width: 90%;
    margin: auto;
}

.inputs {
    margin: 15px auto 15px auto;
}

form label {
    color: #7f808c;
    font-size: 13px;
}

form input[type=password] {
    width: 100%;
    height: 45px;
    font-size: 16px;
    padding-left: 15px;
    margin: 5px auto 5px auto;
    border: none;
    background-color: #edeef6;
}

form button {
    color: white;
    width: 100%;
    height: 50px;
    margin: 15px auto 70px auto;
    border-radius: 5px;
    font-size: 15px;
    background-color: black;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}



